<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="separadorCampos" value=";" />
    <add key="arquivoOperacoes" value="../../../../ProvaCSharp/Operacoes.csv" />
    <add key="arquivoDadosMercado" value="../../../../ProvaCSharp/DadosMercado.csv" />
    <add key="arquivoFinal" value="../../../../ProvaCSharp/Resultado.csv" />
  </appSettings>
</configuration>